<%= form_with model: [@article, @article.comments.build] do |form|%>
    <div>
        <h2><%= form.label :commenter %></h2>
        <%= form.text_field :commenter %>
    </div>
    <div>
        <h2><%= form.label :body %></h2>
        <%= form.text_area :body %>
    </div>
        <h2><%= form.label :status %></h2>
        <%= form.select :status, ['public','private','archived'], selected:'public' %>
    <div>
        <%=form.submit%>
    </div>
<%end%>